*{
    margin:0;
    padding:0;
    outline:none;
}
.navbar-menu{
    display: flex;
    flex-flow: row nowrap;
    background-color:#515151;
    border: solid #707070;
    max-width: 1920px;
    max-height: 56px;
    align-items: center;
}
.space-creator1{
    flex-basis: 404px;
}
.space-creator2{
    flex-basis: 651px;
}
.space-creator3{
    flex-basis: 406px;
}
.choose-link{
    text-align: center;
    min-height: 14px;
    margin-right:17px;
}
.panel-link{
    display: flex;
    max-width: 173px;
}
.nav-link{
    font-family: 'Segoe UI Regular';
    font-size: 20px;
    color: #F5F5F5;
    text-decoration: none;
    text-align: center;
}
.footer{
    background-color:#343A40;
    max-width: 1920px;
    min-height: 120px;
    display: flex;
}
.footer-container{     
    min-height: 35px;
    flex-shrink:0; 
}
.footer-text
{
    padding:60px 866px 25px 754px;
    color:white;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
    flex-basis: 300px;
}
.middle-container{
    display: flex;
    margin: 25px 405px 117px;
}
.middle-content{
    background-color: #E9ECEF;
    min-width: 1110px;
    min-height: 376px; 
    border-radius: 4px;
}
.greetings-col{
    font-size: 30px;
    font-family: 'Segoe UI Light';
    color:black;
    flex-basis:610px; 
    padding: 65px 461px 25px 33px;
}
.greetings-text{
    font-family:'Segoe UI Light';
    font-size: 20px;
    padding: 0 31px 0 33px;
}
.greetings-btn{
    background-color: #007BFF;
    color:white;
    border-radius: 7px;
    min-width: 199px;
    min-height: 48px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    border:none;
    
}
.middle-btn{
    padding: 20px 878px 63px 33px;
}
.card-block{
    min-width: 255px;
    min-height: 430px;
    display: flex;
    flex-direction: column;

}
.card-img{
    width: 255px;
    height: 116px;
}
.btn-decor{
    background-color: #007BFF;
    color:white;
    border-radius: 7px;
    min-width: 136px;
    min-height: 38px;
    font-size: 16px;
    font-family: 'Segoe UI Regular';
    border:none;
}

.card-desc{
    font-family:'Segoe UI Regular';
    font-size: 16px;
}
.card-title{
    font-family:'Segoe UI Semibold';
    font-size: 24px;
}
.cards-col{
    display: flex;
    margin: 25px 405px 117px;
    max-width: 1110px;
    max-height: 430px;
}
.card-bg{
    background-color: white;
}
.btn-bg{
    background-color: #F7F7F7;
    padding: 13px 60px 12px;
}
.card-title{
    padding: 20px 58px 12px 21px;
}
.card-desc{
    padding: 0 23px 23px 33px;
}
.card-block{
    
    margin:20px;
    border:1px #DFDFDF solid;

}


