*{
    margin:0;
    padding:0;
    outline:none;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    background-color:#515151;
    border: solid #707070;
    max-width: 1920px;
    max-height: 56px;
    align-items: center;
}
.space-creator1{
    flex-basis: 404px;
}
.space-creator2{
    flex-basis: 651px;
}
.space-creator3{
    flex-basis: 406px;}
.choose-link{
    text-align: center;
    min-height: 14px;
    margin-right:17px;
}
.panel-link{
    display: flex;
    max-width: 173px;
}

.nav-link{
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #F5F5F5;
    text-decoration: none;
    text-align: center;
}
.greetings-col{
    font-family: 'Segoe UI';
    font-size: 40px;
    color: #000000;
    margin-left: 15mm;
    margin-top: 15mm;

}
.greetings-text{
    font-family: 'Segoe UI';
    font-size: 20px;
    margin-left: 15mm;
    margin-right: 15mm;
}
.content{
    margin-right: 65mm;
    margin-left: 30mm;
    background-color: #E9ECEF;
    border-radius: 2mm;
}
.greetings-btn{
    background-color: #007BFF;
    border-radius: 0.8mm;
    color:white;
    text-align:center;
    border: none;
    padding: 15px 32px;
    margin-top: 10mm;
    margin-bottom: 10mm;
}
.card-text{
    background-color:#6C757D;
    color:white;
    font-size: 7px;
    text-align: center;

}
.text-marg{
    margin-top: 10mm;
    margin-bottom: 10mm ;
}
.footer{
    background-color:#343A40;
    text-align: center;
    font-family: 'Segoe UI';
    color:white;
}